.columns > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.columns > div > div {
  order: 1;
  min-width: 0;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns img {
  display: block;
  width: 100%;
  height: auto;
}

.columns > div > .columns-img-col img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Desktop */
@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: row;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > .columns-img-col {
    order: 0;
  }
}
